@model DOAN.Models.BinhLuan

@{
    ViewBag.Title = "ThemBinhLuanSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/CSS/order.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<style>
    a {
        font-size: 15px;
    }
</style>
<body>
    @Html.Partial("header")

    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h4 class="m-0">Danh Mục</h4>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 3;">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Linh Kiện <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Core</a>
                                <a href="" class="dropdown-item">Cart Màn Hình</a>
                                <a href="" class="dropdown-item">.....</a>
                            </div>
                        </div>
                        <a href="" class="nav-item nav-link">LapTop</a>
                        <a href="" class="nav-item nav-link">Màn Hình</a>
                        <a href="/Store/CPU" class="nav-item nav-link">CPU</a>
                        <a href="" class="nav-item nav-link">Chuột</a>
                        <a href="" class="nav-item nav-link">Bàn Phím</a>
                        <a href="" class="nav-item nav-link">Tai Nghe</a>
                        <a href="" class="nav-item nav-link">WebCam</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="/Home/Index" class="nav-item nav-link active">Trang Chủ</a>
                                <a href="/Store/Index" class="nav-item nav-link">Cửa Hàng</a>
                                <a href="/Cart/DatLich" class="nav-item nav-link">Đặt Lịch</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Đơn Hàng</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="/Accountuser/DonHangCaNhan" class="dropdown-item">Đơn Hàng Cá Nhân</a>
                                        <a href="/Accountuser/LichHen" class="dropdown-item">Lịch Hẹn</a>
                                    </div>
                                </div>

                            </div>
                            <div class="navbar-nav ml-auto py-0">
                                <a href="/Accountuser/Signin" class="nav-item nav-link">Đăng Xuất</a>
                                <a href="/Accountuser/DetailsKH" class="nav-item nav-link">Thông Tin Khách Hàng</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div style="margin-right:150px;" class="order">
            <h2 style="font-weight:600; text-align:center;">Bình Luận Của Bạn</h2>
            <table  class="table table-hover  ">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <tr style="height:40px">
                        <td><h4 style="font-weight:bold">Họ Tên:</h4> </td>
                        <td style="font-size:15px;"> @Html.TextBox("TenKH", null, new { @class = "hoten" })</td>
                    </tr>
                   
                    <tr style="height:40px">
                        <td class="col-sm-8 col-md-6"><h4 style="font-weight:bold">Ngày Bình Luận+</h4></td>
                        <td class="col-sm-8 col-md-6"><h4> @DateTime.Now.ToShortDateString()</h4></td>

                    </tr>
                    <tr style="height:40px">
                        <td class="col-sm-8 col-md-6"><h4 style="font-weight:bold">Bình Luận Của Bạn</h4></td>
                        <td class="col-sm-8 col-md-6">
                            @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control" })
                           @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                        </td>
                    </tr>                  
                    <tr style="height:40px">
                    <td></td>
                    <td style="font-weight:bold; padding-right:30px; ">
                        <button style="border-radius: 30px" type="submit" class="btn btn-block btn-primary my-3 py-3">
                            <a style="color: #fff; font-size: 14px; ">Gửi Bình Luận</a> 
                        </button>
                    </td>

                </tr>

                }
            </table>
            
        </div>
    </div>
</body>
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>
<script src="js/main.js"></script>